/_site/
/.quarto/
.DS_Store
**/*.quarto_ipynb
.Rhistory
data/
!assets/data/
/results/*
!/results/robustness/
.snakemake/
logs/
tmp/
logbook/images/
.pytest_cache/
.mypy_cache/
*.egg-info/
__pycache__/
*.pyc
